.event-detail {
    position: relative;
  }
  
  .news-item {
    .icon {
      background-color: rgb(10.4, 88, 202.4);
      font-size: 2rem;
      color: #ffffff;
      border-radius: 7px;
      box-shadow: 3px 3px 0 0 #b3b3b3 !important;
      width: 123px;
      height: 123px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }