<section id="events-navigator" class="overlay-section event-navigator pt-5 pb-5">
    <div id="background-div"></div>
    <div class="container content-div">
        <div class="px-3 py-5 px-md-0 py-md-5">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center w-100 pb-5" style="height: 100px;">
                        <div>
                            <h2 class="fs-1 flex-fill">Latest events</h2>
                            <p class="lead text-white">Browse our upcoming events</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="events$ | async as events">
                <div class="col-12" *ngFor="let event of events.slice(1)">
                    <div class="d-flex mb-4">
                        <div class="d-none d-md-flex align-items-start me-3" style="width:150px">
                            <div
                                class="event-date border border-3 border-light rounded-3 d-flex flex-column align-items-center justify-content-center">
                                <div>{{ event.date_start | date:'LLL'}}</div>
                                <div>{{ event.date_start | date:'d'}}</div>
                                <div>{{ event.date_start | date:'Y'}}</div>
                            </div>
                        </div>
                        <div class="w-100 border border-3 border-light rounded-3 text-white">
                            <div class="p-4">
                                <h2 class="fs-2 pb-2">
                                    <a [routerLink]="event.link"
                                        class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                        {{ event.title }}
                                    </a>
                                </h2>
                                <div class="infos d-flex justify-content-start align-items-center gap-3 mt-2 mb-4">
                                    <div class="date"><i class="bi bi-calendar"></i> {{ event.updatedAt | date }}
                                    </div>
                                    <div class="author">
                                        <i class="bi bi-person-circle"></i> by Team
                                    </div>
                                    <div>
                                        <a [routerLink]="['/events/?cat=', event.category]"
                                            class="badge text-bg-light text-decoration-none me-1">{{event.category}}</a>
                                    </div>
                                </div>
                                <p class="fs-6 mb-0">{{ event.description | truncate:300 }}</p>

                            </div>
                            <div
                                class="d-flex justify-content-between align-items-center border-top border-3 border-light p-4">

                                <app-social-share currentUrl="/event/{{event.slug}}"
                                    buttonStyle="btn-outline-light"></app-social-share>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-end mt-4">
                    <a routerLink="/events" class="btn btn-outline-light">All events <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>