
<!-- Project -->
<section id="theproject" class="d-flex align-items-center" style="background-color: #C0C0C0; min-height: 100px;">
  <div class="container">
      <div class="px-3 py-5 px-md-0 py-md-5">
          <h2 class="fs-1 flex-fill  pt-5 pb-5">The Chair's Project</h2>
          <p class="fs-5 pb-2 p-0 m-0"> 
              As Stephen Hawking remarked, “I think the next century will be the century of complexity.” This insight aligns with the growing need to navigate a world that resists simplification. As Italo Calvino observed, “On the one hand there is the attitude needed today to face the complexity of reality, refusing simplistic visions that only confirm our habits of representing the world, what we need today is the most detailed map of the labyrinth possible...” Together, these perspectives underscore the imperative to embrace complexity not as an obstacle, but as a defining feature of contemporary inquiry.</p>
      </div>
  </div>
</section>

<section class="d-flex align-items-center pb-5" style="background-color: #C0C0C0 !important; min-height: 100px;">
  <div class="container">
      <div class="px-3 pt-3 px-md-0 pb-5">
          <div class="row p-0">
              <div class="col-md-12">
                  <p class="text-columns fs-6">
                      <b>Transdisciplinarity and Complexity Research</b> is an Excellence Chair funded by the AMIDEX
                      Foundation of Aix-Marseille University.
                      From the human brain to the global climate we find complex systems everywhere: living cells
                      and microorganisms, economy and global supply chains, communication or transportation
                      systems, cities, migrations, ecosystems and so on. Indeed, complexity as a research object
                      and at the same time as a research perspective plays a prominent role in various sciences
                      today, in addition to physics, for example, also in information theory, IA, climate science,
                      sociology and economics.
                      The chair explores the philosophical foundations and manifold applications of complexity
                      science and the ways by which complexity science can inform our society in order to address
                      the huge challenges facing our civilisation

                  </p>
              </div>
          </div>
      </div>
  </div>
</section>