<footer class="footer">
  <!-- Newsletter Section -->
  <app-mailing-list></app-mailing-list>

  <!-- Sponsors Section -->
  <section class="d-flex flex-column align-items-center text-center"
    style="min-height: 100px; background-color: #ffffff;">
    <div class="container">
      <div class="px-3 py-5 px-md-5 py-md-5">
        <div class="row g-3">
          <div class="col-6 col-md-4">
            <img src="/assets/img/sponsor/Amidex + FR2030.png" class="img-equal" alt="Immagine 1">
          </div>
          <div class="col-6 col-md-4">
            <img src="/assets/img/sponsor/logo.png" class="img-equal" alt="Immagine 2">
          </div>
          <div class="col-12 col-md-4">
            <img src="/assets/img/sponsor/Screenshot 2025-01-14 at 19.59.23.png" class="img-equal" alt="Immagine 3">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright and Social Links Section -->
  <div class="footer-bottom border-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p>&copy; {{ currentYear }} t-co.re. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-links">
            <li>
              <a href="#" target="_blank">
                <i class="bi bi-facebook"></i>
                <span class="visually-hidden">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bi bi-twitter-x"></i>
                <span class="visually-hidden">Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bi bi-linkedin"></i>
                <span class="visually-hidden">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bi bi-instagram"></i>
                <span class="visually-hidden">Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>